p {
  line-height:2rem;
}
.home {
  margin-top:-64px;
  @media screen and (max-width: 599px) {
    margin-top: 0;
  }
  height:100vh;
  background:url('../images/ark1.jpg') no-repeat center center;
  background-size:cover;

}

.home-secondary {
  background: url('../images/home/clothing_store.jpg') no-repeat center center;
  height:500px;
}

.home, .home-secondary {
  .container {
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 1.5rem;
  }
}