
.brand-logo {
  nav & {
    padding: 0 1rem;
  }
  li & {
    position: relative;
  }
}
.search-wrapper {
    width:400px;
  @media screen and (max-width:1210px) {
    width:200px;
  }
}

.collapsible {
  .collapsible-header {
    font-weight: 500;
  }
  .main {
      border-bottom: solid 2px #bbb6b6;
      font-weight:300;
      font-size:1.4rem;
  }
  ul {
    color:#999;
    font-size:0.9rem;
  }
}