
/* Main Nav Logo */
nav {
  background-color:white;
  ul a, .brand-logo {
    color: #444;
  }
}
.brand-logo {
  img {
    height:40px; padding: 0 6px; vertical-align: middle
  }
  nav & {
    padding: 0 1rem;
  }
}
.search-wrapper {
    width:400px;
  @media screen and (max-width:1210px) {
    width:200px;
  }
  .side-nav & {
    padding: 0 15px;
    width: 100%;
  }
}
.angucomplete-dropdown {
  height: auto;
  line-height: 20px;
  width: 100%;
  margin-top:-15px;
  padding:0;
}
.angucomplete-row {
  margin-bottom:0;
}
.angucomplete-title {
  margin-bottom:0;
  padding:0;
}
.angucomplete-description {
  font-size: 11px;
  color:#AAA;
}

.collapsible {
  .collapsible-header {
    font-weight: 500;
  }
  .main {
      border-bottom: solid 2px #bbb6b6;
      font-weight:300;
      font-size:1.4rem;
  }
  ul {
    color:#999;
    font-size:0.9rem;
  }
}