p {
  line-height: 2rem; }

.home {
  margin-top: -64px;
  height: 65vh;
  background: url("../images/ark1.jpg") no-repeat center center;
  background-size: cover; }
  @media screen and (max-width: 599px) {
    .home {
      margin-top: 0; } }

.home-secondary {
  background: url("../images/home/clothing_store.jpg") no-repeat center center;
  height: 500px; }

.home .container, .home-secondary .container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1.5rem; }

.red.lighten {
  background-color: #EF6979 !important; }

.card.browse {
  /*
    height:400px;

    .card-image {
      max-height:60%;
      overflow:hidden;
    }
    .card-content {
      max-height:40%;
      overflow:hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    @media screen and (max-width:600px) {
      height:250px;

      .card-image {
        max-height:75%;
      }
      .card-content {
        max-height:25%;
      }
    }
    */ }
  .card.browse .card-image {
    height: 12rem;
    overflow: hidden; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.product-picture {
  text-align: center; }
  .product-picture img {
    max-width: 100%;
    margin: 0 auto; }

.breadcrumb {
  text-transform: capitalize;
  font-weight: 300; }

input[type=range] + .thumb.active .value {
  margin-top: 0 !important; }

.browser-default {
  max-width: 400px;
  margin-bottom: 1rem; }

.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  color: black; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    content: '\f0a8'; }

.slick-next {
  right: 0; }
  .slick-next:before {
    content: '\f0a9'; }

.cust {
  border: solid 1px;
  vertical-align: middle;
  min-width: 47px;
  height: auto !important;
  min-height: 30px;
  text-align: center;
  padding-left: 0 !important;
  padding: 10px !important; }
  .cust:before, .cust:after {
    display: none; }
  [type="radio"]:checked + .cust {
    border: solid 2px blue; }


/* Main Nav Logo */
nav {
  background-color: white; }
  nav ul a, nav .brand-logo {
    color: #444; }

.brand-logo img {
  height: 40px;
  padding: 0 6px;
  vertical-align: middle; }

nav .brand-logo {
  padding: 0 1rem; }

.search-wrapper {
  width: 400px; }
  @media screen and (max-width: 1210px) {
    .search-wrapper {
      width: 200px; } }
  .side-nav .search-wrapper {
    padding: 0 15px;
    width: 100%; }

.collapsible .collapsible-header {
  font-weight: 500; }

.collapsible .main {
  border-bottom: solid 2px #bbb6b6;
  font-weight: 300;
  font-size: 1.4rem; }

.collapsible ul {
  color: #999;
  font-size: 0.9rem; }

/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/
/* Main Website Template */
.header, .brand-logo {
  font-family: "Josefin Slab"; }

nav {
  color: black; }

.breadcrumb {
  color: rgba(0, 0, 0, 0.7); }
  .breadcrumb:before {
    font-size: 14px;
    font-family: FontAwesome;
    color: black;
    content: "\f0da";
    vertical-align: middle; }
  .breadcrumb:last-child {
    color: #f44336; }

@media screen and (min-width: 993px) {
  .large-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%; } }

@media screen and (max-width: 992px) {
  .medium-down-container {
    margin: 0 auto;
    width: 85%; } }

@media screen and (max-width: 600px) {
  .medium-down-container {
    width: 90%; } }

/*# sourceMappingURL=app.css.map */
