<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><span class="black-text">Arch</span> & <span class="red-text">Sun</span></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Store</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Store</a></li>
            </ul>
            <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">
                <i class="fa fa-bars red-text"></i>
            </a>
        </div>
    </nav>
</div>