<main ng-controller="LandingController">
    <div class="section row">
        <div class="col s12">
            <h3 class="center" style="font-weight:300">New Arrivals</h3>
            <hr class="container">

            <slick init-onload=true data="latest" responsive="breakpoints" slides-to-show="5" slides-to-scroll="5" >
                <div class="col s6 m4 l2" ng-repeat="product in latest">
                    <div ui-sref="product({id: product.id})" class="card">
                        <div class="card-image">
                            <img ng-src="{{ '/products/' + product.gender + '/' + product.pictures[0] }}">
                        </div>
                        <div class="card-content hide-on-small-only">
                            <p class="truncate">{{ product.description }}</p>
                        </div>
                        <div class="card-action">
                            <a class="modal-trigger" href="#modal1"><i class="fa fa-shopping-bag"></i></a>
                            <span class="right">{{ product.price | currency }}</span>
                        </div>
                    </div>
                </div>
            </slick>
        </div>
    </div>
    <div class="section row">
        <div class="col s12">
            <h3 class="center" style="font-weight:300">On Sale</h3>
            <hr class="container">

            <slick init-onload=true data="clearance" responsive="breakpoints" slides-to-show="5" slides-to-scroll="5" >
                <div class="col s6 m4 l2" ng-repeat="product in clearance">
                    <div ui-sref="product({id: product.id})" class="card">
                        <div class="card-image">
                            <img ng-src="{{ '/products/' + product.gender + '/' + product.pictures[0] }}">
                        </div>
                        <div class="card-content hide-on-small-only">
                            <p class="truncate">{{ product.description }}</p>
                        </div>
                        <div class="card-action">
                            <a class="modal-trigger" href="#modal1"><i class="fa fa-shopping-bag"></i></a>
                            <span class="right">{{ product.price | currency }}</span>
                        </div>
                    </div>
                </div>
            </slick>
        </div>
    </div>
</main>