
<div class="valign-wrapper home">
    <div class="valign row">
        <div class="container">
            <h1 class="main header center red-text text-lighten-2">Your Fashion. Our Priority.</h1>
            <div class="row center">
                <h5 class="light col s12">We'll bring your wardrobe up to the latest trend in no time.</h5>
            </div>
            <div class="row center">
                <a ui-sref="browse" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Get Shopping</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="section row">
    <!--   Icon Section   -->
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="fa fa-lg fa-globe"></i></h2>
                <h5 class="center">Worldwide</h5>
                <p class="light">Ark Distribution Imports aspires to be a leading wholesale supplier
                    of the latest men and women fashion collections. With over 60,000 product lines, we thrive to provide the global community
                    from every country in any continent, no exceptions.</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="fa fa-lg fa-usd"></i></h2>
                <h5 class="center">Affordable</h5>
                <p class="light">Our commitment is to provide clothing at stunning, factory-low costs. We make sure the price you pay
                    for our high quality products are competitive to retailers.</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="fa fa-lg fa-group"></i></h2>
                <h5 class="center">Committed</h5>
                <p class="light">Our target is to bring to you trendsetting, cutting-edge fashion products and styles.
                    Our products are manufactured weekly, and we provide a fast delivery of the items you order, as well
                    as professional support for any of your inquiries.</p>
            </div>
        </div>
    </div>
</div>

<div class="valign-wrapper home-secondary">
    <div class="valign row" style="width: 100%; padding:3.5rem;">
        <div class="col l4 container">
            <h2 class="main header center red-text text-lighten-2">We have what you need.</h2>
            <div class="">
                <p>Shirts, pants, dresses, shoes, accessories, we offer over 60,000 product lines and a variety of styles at the lowest possible prices.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="fa fa-lg fa-paper-plane brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="center-align light">Feel free to contact us for any inquiries you may encounter. We are always open to hear the voice of our client and make ourselves available to them</p>
                <p class="col s6">Ark Distribution<br>
                    Tel: 514-683-2251<br>
                    Cel: 438-863-3734<br>
                    E-mail: arkdistribution@bell.net</p>
            </div>
        </div>

    </div>
</div>