<main ng-controller="BrowseController">
    <div class="row" style="margin:1rem 0 0.33rem">
        <div class="col s12">
            Currently Displaying:
            <div class="chip" ng-repeat="filter in filters">
                {{ filter.type + ' : ' + filter.value }}
                <i class="fa fa-times" ng-click="removeFilter($index)"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l3">
            <ul class="collapsible" data-collapsible="accordion">
                <div class="red lighten-1 white-text main collapsible-header" ng-show="$stateParams.endpoint"></div>
                <div class=" red lighten-1 white-text main collapsible-header">Shop By Type</div>
                <li>
                    <div class="red lighten-1 white-text collapsible-header active" ng-click="addFilter('category','top')">Tops</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="red lighten-5 collection-item" ng-click="addFilter('subcategory','t-shirt')">T-Shirts</li>
                            <li class="red lighten-5 collection-item" ng-click="addFilter('subcategory','shirt')">Shirts</li>
                            <li class="red lighten-5 collection-item" ng-click="addFilter('subcategory','tank-top')">Tank Top</li>
                            <li class="red lighten-5 collection-item" ng-click="addFilter('subcategory','blouse')">Blouse</li>
                            <li class="red lighten-5 collection-item" ng-click="addFilter('subcategory','long-sleeve')">Long Sleeve</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="red lighten-1 white-text collapsible-header active" ng-click="addFilter('category','bottom')">Bottoms</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="red lighten-5 collection-item">Pants</li>
                            <li class="red lighten-5 collection-item">Shorts</li>
                            <li class="red lighten-5 collection-item">Jeans</li>
                            <li class="red lighten-5 collection-item">Leggings</li>
                            <li class="red lighten-5 collection-item">Skirts</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="red lighten-1 white-text collapsible-header" ng-click="addFilter('category','outerwear')">Outerwear</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="red lighten-5 collection-item">Jackets & Coats</li>
                            <li class="red lighten-5 collection-item">Sweatshirt</li>
                            <li class="red lighten-5 collection-item">Cardigan</li>
                            <li class="red lighten-5 collection-item">Blazer</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 l9">
            <div class="col s6 m4 l3" ng-repeat="product in results" ng-show="results">
                <div ui-sref="product({id: product.id})" class="card browse">
                    <div class="card-image">
                        <img ng-src="{{ 'images/products/' + product.category + '/' + product.pictures[0] }}">
                    </div>
                    <div class="card-content hide-on-small-only">
                        <p class="truncate">{{ product.description }}</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1"><i class="fa fa-shopping-bag"></i></a>
                        <span class="right">{{ product.price | currency }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>