<main ng-controller="BrowseController">
    <div class="row" style="margin:1rem 0 0.33rem">
        <div class="col s12">
            Currently Displaying:
            <div class="chip" ng-repeat="filter in filters">
                {{ filter.type + ' : ' + filter.value }}
                <i class="fa fa-times" ng-click="removeFilter($index)"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l3">
            <ul class="collapsible" data-collapsible="accordion">
                <div class="red lighten-1 white-text main collapsible-header" ng-show="$stateParams.gender"></div>
                <div class=" red lighten-1 white-text main collapsible-header">Shop By Type</div>
                <li ng-repeat="type in activeGender">
                    <div class="red lighten-1 white-text collapsible-header" ng-click="addFilter('category',type.name)">{{type.name}}</div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li ng-repeat="subcategory in type.subcategories" class="red lighten-5 collection-item" ng-click="addFilter('subcategory',subcategory.name)">{{subcategory.name}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 l9">
            <div class="col s6 m4 l3" ng-repeat="product in results" ng-show="results">
                <div ui-sref="product({id: product.id})" class="card">
                    <div class="card-image">
                        <img ng-src="{{ 'products/' + product.gender + '/' + product.pictures[0] }}">
                    </div>
                    <div class="card-content hide-on-small-only">
                        <p class="truncate">{{ product.description }}</p>
                    </div>
                    <div class="card-action">
                        <a class="modal-trigger" href="#modal1"><i class="fa fa-shopping-bag"></i></a>
                        <span class="right">{{ product.price | currency }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>